<article class="portfolio-item col-12 col-sm-6 col-md-4 pf-media pf-icons">
  <div class="grid-inner">
    <div class="portfolio-image">
      <img src="{{ .Params.image | relURL }}" alt="{{ .Title }}" />
      <div class="bg-overlay">
        <div class="bg-overlay-content dark" data-hover-animate="fadeIn" data-hover-speed="500">
          <a href="{{ .Permalink }}" class="overlay-trigger-icon bg-light text-dark" data-hover-animate="fadeIn" data-hover-speed="500"><i class="icon-line-ellipsis"></i></a>
        </div>
        <div class="bg-overlay-bg dark" data-hover-animate="fadeIn" data-hover-speed="500"></div>
      </div>
    </div>
    <div class="portfolio-desc text-center">
      <h3><a href="{{ .Permalink }}">{{ .Title | markdownify }}</a></h3>
      <span>Start date: {{ with .Params.event_start_date }} {{ (dateFormat "02 Jan 2006 15:04 MST" .) }} {{ end }}</span>
    </div>
  </div>
</article>
