<div class="col-xs-4 col-md-3 d-flex mt-3">
  <a href="{{ .Params.solution_url | relURL }}" class="card h-shadow h-translate-y-sm all-ts border dark-mode" style="height: 320px">
    <div class="card-body p-3">
      <div class="feature-box flex-column">
        <div class="fbox-image mb-3 text-center">
          <img height="80" src="{{ .Params.image | relURL}}" alt="{{.Params.product_name | markdownify}}" />
        </div>
        <div class="fbox-content ">
          <h3 class="nott ls0 text-medium">{{.Params.product_name | markdownify}}</h3>
          <p class="text-smaller" style="overflow: hidden; display: -webkit-box; -webkit-line-clamp: 3; -webkit-box-orient: vertical">{{.Params.description | markdownify}}</p>
          <p class="text-smaller">{{.Params.vendor_name | markdownify}}</p>
          {{range .Params.price}}
          <p class="text-smaller">{{. | markdownify}}</p>
          {{end}}
        </div>
      </div>
    </div>
  </a>
</div>
