{{ $data := index site.Data site.Language.Lang }} {{ if $data.faq.questions_section.enable }} {{ with $data.faq.questions_section }}
<div class="section m-0 bg-transparent border-top dark-mode">
  <div class="container">
    <div class="heading-block border-bottom-0 m-0">
      <h2 class="nott ls0 bottommargin-sm">{{ .title | markdownify }}</h2>
      <p>{{ .content | markdownify }}</p>
    </div>
    <div class="divider">
        <i class="icon-circle"></i>
    </div>
    <div class="row col-mb-30 align-content-stretch">
        {{ range $data.faq.questions_section.accordions}}
        <div class="col-lg-6 col-md-6">
            <h3>{{ .title | markdownify }} ({{len .questions}})</h3>     
            <div class="accordion accordion-border">
                {{ range .questions}}
                <div class="accordion-header dark-mode">
                    <div class="accordion-icon">
                        <i class="accordion-closed icon-ok-circle"></i>
                        <i class="accordion-open icon-remove-circle"></i>
                    </div>
                    <div class="accordion-title">
                        {{ .title | markdownify }}
                    </div>
                </div>
                <div class="accordion-content" style="display: none;">{{ .content | markdownify }}</div>
                {{ end }}
            </div>        
        </div>
        {{ end }}
    </div>
  </div>
</div>
{{ end }} {{ end }} 