{{ define "main" }}

<!-- slider -->
{{ $data := index site.Data site.Language.Lang }} {{ if $data.pmdk.slider.enable }} {{ with $data.pmdk.slider }}
<section id="page-title" class="page-title-parallax page-title-center page-title-dark include-header skrollable skrollable-between" style="background-image: url('{{.bg_image}}'); background-size: cover; padding: 120px 0px; margin-top: -157.05px">
  <div class="container clearfix mt-4">
    <div class="slider-title text-light">
      <h2 style="color: white">{{ .title | markdownify }}</h2>
      <p style="color: white">{{ .content | safeHTML }}</p>
    </div>
  </div>
</section>
{{ end }} {{ end }}


<!-- banner -->
{{- partial "content/banner.html" . -}}

<!-- libraries -->
{{ $data := index site.Data site.Language.Lang }} {{ if $data.pmdk.libraries_section.enable }} {{ with $data.pmdk.libraries_section }}

<div class="section m-0 bg-transparent library-section dark-mode">
    <div class="container">
      <div class="heading-block lib-block border-bottom-0 bottommargin-sm">
        <h3 id="{{ .title }}"class="nott ls0">{{ .title | markdownify }}</h3>
      </div>
      {{ range .libraries }}
      <div class="row justify-content-between">
        <div class="col mt-0">
          <p>{{ .content | safeHTML }}</p>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
  {{ end }} {{ end }}
  <!-- end libraries -->

<!-- libraries deprecated-->
{{ $data := index site.Data site.Language.Lang }} {{ if $data.pmdk.libraries_section_deprecated.enable }} {{ with $data.pmdk.libraries_section_deprecated }}

<div class="section m-0 bg-transparent library-section dark-mode border-top">
    <div class="container">
      <div class="heading-block lib-block border-bottom-0 bottommargin-sm">
        <h3 id="{{ .title }}"class="nott ls0">{{ .title | markdownify }}</h3>
      </div>
      {{ .content | safeHTML }}
      {{ range .libraries }}
      <div class="row justify-content-between">
        <div class="col mt-0">
          <p>{{ .content | safeHTML }}</p>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
  {{ end }} {{ end }}
  <!-- end libraries deprecated -->

      <!-- disclaimer -->
      {{ $data := index site.Data site.Language.Lang }} {{ if $data.pmdk.disclaimer.enable }} {{ with $data.pmdk.disclaimer }}
      <div class="divider"></div>
      <p class="text-center"><small>{{ .content | safeHTML }}</small></p>
      {{ end }} {{ end }}
      <!-- end disclaimer -->

{{ end }}
