{{ define "main" }}

<!-- slider -->
{{ $data := index site.Data site.Language.Lang }} {{ if $data.pmemkv.slider.enable }} {{ with $data.pmemkv.slider }}
<section id="page-title" class="page-title-parallax page-title-center page-title-dark include-header skrollable skrollable-between" style="background-image: url('{{.bg_image}}'); background-size: cover; padding: 120px 0px; margin-top: -157.05px">
  <div class="container clearfix mt-4">
    <div class="slider-title">
      <h2 style="color: white">{{ .title | markdownify }}</h2>
      <p style="color: white">{{ .content | safeHTML }}</p>
    </div>
  </div>
</section>
{{ end }} {{ end }}


<!-- Discontinuation of the project -->
{{ $data := index site.Data site.Language.Lang }} {{ if $data.pmdk.Discontinuation.enable }} {{ with $data.pmdk.Discontinuation }}

  <div class="container">
    
    <div class="col mt-0">
      <div class="heading-block lib-block border-bottom-0 bottommargin-sm">
        <h3 id="{{ .title }}"class="nott ls0">{{ .title | markdownify }}</h3>
      </div>
      {{ range .lists }}
      <p>{{ .content | safeHTML }}</p>
      <ul class="pmem-list">
        {{ range .list_items }}
        <li>
            {{ .content | safeHTML }}
        </li>
        {{ end }}
      </ul>
    </div>
{{ end }}
{{ end }} {{ end }}
<!-- end Discontinuation of the project -->

<div class="section m-0 bg-transparent library-section border-top dark-mode">
    <div class="container">
      <div class="row justify-content-between">
        
        <div class="col mt-0 lib-content">
            <!-- c api -->
            {{ $data := index site.Data site.Language.Lang }} {{ if $data.pmemkv.c_api.enable }} {{ with $data.pmemkv.c_api }}
            <h3 class>{{ .title | markdownify }}</h3>
            
            <!-- branch lists -->
            {{ range .lists }}
            <p>{{ .content | safeHTML }}</p>
            <ul class="pmemkv-list">
                {{ range .list_items }}
                <li>
                    {{ .content | safeHTML }}
                    <ul class="pmemkv-list">
                        {{ range .children }}
                        <li>{{ .content | safeHTML }}</li>
                        {{ end }}
                    </ul>
                </li>
                {{ end }}
            </ul>
            {{ end }}  
            {{ end }} {{ end }}
            <!-- end c api -->
          
            <!-- language bindings -->
            {{ $data := index site.Data site.Language.Lang }} {{ if $data.pmemkv.language_bindings.enable }} {{ with $data.pmemkv.language_bindings }}
            <h3 class>{{ .title | markdownify }}</h3>
          
            <!-- link lists -->
            {{ range .lists }}
            <p>{{ .content | safeHTML }}</p>
            <ul class="pmemkv-list">
                {{ range .list_items }}
                <li>
                    {{ .content | safeHTML }}
                    <ul class="pmemkv-list">
                        {{ range .children }}
                        <li>{{ .content | safeHTML }}</li>
                        {{ end }}
                    </ul>
                </li>
                {{ end }}
            </ul>
            {{ end }}  
            {{ end }} {{ end }}
            <!-- end language bindings-->

            <!-- performance reports -->

            {{ $data := index site.Data site.Language.Lang }} {{ if $data.pmemkv.performance_reports.enable }} {{ with $data.pmemkv.performance_reports }}
            <h3 class>{{ .title | markdownify }}</h3>
            <p>{{ .content | safeHTML }}</p>
            {{ end }} {{ end }}

            <!-- end performance reports -->

            <!-- blog entries -->
            {{ $data := index site.Data site.Language.Lang }} {{ if $data.pmemkv.blog_entries.enable }} {{ with $data.pmemkv.blog_entries }}
                <h3 class>{{ .title | markdownify }}</h3>
                <p>{{ .content | safeHTML }}</p>

                <ul class="pmemkv-list">
                    {{ range .blog_list.list_items }}
                    <li>
                        {{ .content | safeHTML }}
                    </li>
                    {{ end }}
                </ul>
            {{ end }} {{ end}}
            <!-- end blog entries -->

            <!-- releases support status -->
            {{ $data := index site.Data site.Language.Lang }} {{ if $data.pmemkv.releases_support_status.enable }} {{ with $data.pmemkv.releases_support_status }}
            <h3 class>{{ .title | markdownify }}</h3>
            <p>{{ .content.recent_release_content | safeHTML }}</p>

            <!-- table  -->
            <table class="table table-bordered pmemkv-table dark-mode">
                <thead>
                  <tr>
                      {{ range .table.headers}}
                      <th>{{ .content | markdownify }}</th>
                      {{ end }}
                  </tr>
                </thead>
                <tbody>
                    {{ range .table.rows }}
                    <tr>
                        {{ range .cols }}
                        <td>{{ .content | markdownify }}</td>
                        {{ end }}
                    </tr>
                    {{ end }}
                </tbody>
              </table>

            <p>{{ .content.possible_statuses_content | safeHTML }}</p>
            <ol class="pmemkv-list">
                {{ range .possible_statuses_list.list_items }}
                <li>
                    {{ .content | safeHTML }}
                    <ul class="pmemkv-list">
                        {{ range .children }}
                        <li>{{ .content | safeHTML }}</li>
                        {{ end }}
                    </ul>
                </li>
                {{ end }}
            </ol>
            {{ end }} {{ end }}
            <!-- end releases support status -->

            <!-- older documentation -->
            {{ $data := index site.Data site.Language.Lang }} {{ if $data.pmemkv.older_documentation.enable }} {{ with $data.pmemkv.older_documentation }}
            <h3>{{ .title | markdownify }}</h3>

            {{ range .lists }}
            <p>{{ .content | safeHTML }}</p>
            <ul class="pmemkv-list">
                {{ range .list_items }}
                <li> 
                    {{ .content | safeHTML }}
                    <ul class="pmemkv-list">
                        {{range .children}}
                        <li>
                            {{ .content | safeHTML }}
                        </li>
                        {{ end }}
                    </ul>
                </li>
                {{ end }} 
            </ul>
            {{ end }}
            
            {{ end }} {{ end }}
            <!-- end older documentation -->

            <!-- archived documentation -->
            {{ $data := index site.Data site.Language.Lang }} {{ if $data.pmemkv.archived_documentation.enable }} {{ with $data.pmemkv.archived_documentation }}
            <h3>{{ .title | markdownify }}</h3>

            {{ range .lists }}
            <p>{{ .content | safeHTML }}</p>
            <ul class="pmemkv-list">
                {{ range .list_items }}
                <li> 
                    {{ .content | safeHTML }}
                    <ul class="pmemkv-list">
                        {{range .children}}
                        <li>
                            {{ .content | safeHTML }}
                        </li>
                        {{ end }}
                    </ul>
                </li>
                {{ end }} 
            </ul>
            {{ end }}
            
            {{ end }} {{ end }}
            <!-- end archived documentation -->
            
            <!-- disclaimer -->
            {{ $data := index site.Data site.Language.Lang }} {{ if $data.pmemkv.disclaimer.enable }} {{ with $data.pmemkv.disclaimer }}
            <div class="divider"></div>
            <p class="text-center"><small>{{ .content | safeHTML }}</small></p>
            {{ end }} {{ end }}
            <!-- end disclaimer -->
        </div>
      </div>
    </div>
  </div>

{{ end }}