<!-- Header
============================================= -->
<header id="header" class="transparent-header floating-header header-size-md sticky-header">
  <div id="header-wrap" class="dark-mode">
    <div class="container dark-mode">
      <div class="header-row">
        <!-- Logo
          ============================================= -->
        <div id="logo" class="logo_dark">
          <a href="{{ site.BaseURL | relLangURL }}" class="standard-logo" data-dark-logo="images/logo-dark.png"><img src="{{ site.Params.logo | absURL }}" alt="{{ site.Title }}" /></a>
          <a href="{{ site.BaseURL | relLangURL }}" class="retina-logo" data-dark-logo="images/logo-dark@2x.png"><img src="{{ site.Params.logo | absURL }}" alt="{{ site.Title }}" /></a>
        </div>
        <div id="logo" class="logo_light">
          <a href="{{ site.BaseURL | relLangURL }}" class="standard-logo" data-dark-logo="images/logo-dark.png"><img src="{{ site.Params.logo_light | absURL }}" alt="{{ site.Title }}" /></a>
          <a href="{{ site.BaseURL | relLangURL }}" class="retina-logo" data-dark-logo="images/logo-dark@2x.png"><img src="{{ site.Params.logo_light| absURL }}" alt="{{ site.Title }}" /></a>
        </div>
        <!-- #logo end -->

        <div class="header-misc">
          <!-- Top Search
            ============================================= -->
          <div id="top-search" class="header-misc-icon">
            <a href="#" id="top-search-trigger"><i class="icon-line-search"></i><i class="icon-line-cross"></i></a>
          </div>
          <!-- #top-search end -->

          <div class="top-links">
            <ul class="top-links-container">
              <li class="">
                <div id="darkSwitch" class="dark-mode header-misc-icon d-md-block">
                  <a href="#"><i id="darkSwitchToggle" class=""></i></a>
                </div>
              </li>
	      <!-- TODO: Will implement i18n multi-lingual support in the future -->
        <!-- 
              <li class="top-links-item">
                <a href="#"><img src="/images/general/flags/us.png" alt="Lang" />Eng</a>
                <ul class="top-links-sub-menu">
                  <li class="top-links-item">
                    <a href="#"><img src="/images/general/flags/fre.png" alt="Lang" />French</a>
                  </li>
                  <li class="top-links-item">
                    <a href="#"><img src="/images/general/flags/ara.png" alt="Lang" />Arabic</a>
                  </li>
                  <li class="top-links-item">
                    <a href="#"><img src="/images/general/flags/tha.png" alt="Lang" />Thai</a>
                  </li>
                </ul>
	      </li> -->
	      <!-- End language support -->
            </ul>
          </div>
        </div>

        <div id="primary-menu-trigger">
          <svg class="svg-trigger" viewBox="0 0 100 100">
            <path d="m 30,33 h 40 c 3.722839,0 7.5,3.126468 7.5,8.578427 0,5.451959 -2.727029,8.421573 -7.5,8.421573 h -20"></path>
            <path d="m 30,50 h 40"></path>
            <path d="m 70,67 h -40 c 0,0 -7.5,-0.802118 -7.5,-8.365747 0,-7.563629 7.5,-8.634253 7.5,-8.634253 h 20"></path>
          </svg>
        </div>

        <!-- Primary Navigation
          ============================================= -->
        <nav class="primary-menu with-arrows">
          <ul class="menu-container">
            {{ range .Site.Menus.main }} {{ if .HasChildren }}
            <li class="menu-item mega-menu">
              <div class="menu-link">
                <div><a href="{{ .URL }}">{{ .Name }}</a></div>
              </div>
              <div class="mega-menu-content mega-menu-style-2 px-0">
                <div class="container dark-mode">
                  <div class="row">
                    {{ range .Children }} {{ if .HasChildren }}
                    <div class="mega-menu-column sub-menu-container col-lg-4 border-bottom py-4">
                      <div class="feature-box">
                        {{ range .Children }}
                        <div class="fbox-content h-bg-light">
                          <a href="{{ .URL }}">
                            <p>{{ .Name}} <i class="icon-angle-right"></i></p>
                          </a>
                        </div>
                        {{end}}
                      </div>
                    </div>
                    {{else}}
                    <div class="mega-menu-column sub-menu-container col-lg-4 border-bottom py-4">
                      <div class="feature-box">
                        <div class="fbox-content">
                          <p class="fw-bold">{{ .Name }}</p>
                          <p>{{ .Pre}}</p>
                        </div>
                      </div>
                    </div>
                    {{end}} {{end}}
                  </div>
                </div>
              </div>
            </li>
            {{ else }}
            <li class="menu-item">
              <a class="menu-link" href="{{ .URL | absLangURL }}"><div>{{ .Name }}</div></a>
            </li>
            {{ end }} {{ end }}
          </ul>
        </nav>
        <!-- #primary-menu end -->
        <form class="top-search-form" method="get">
          <input id="bcs-searchbox" aria-label="Search input" type="text" name="q" class="form-control bcs-searchbox pt-4" value="" placeholder="Type &amp; Hit Enter.." autocomplete="off" />
        </form>
      </div>
    </div>
  </div>
  <div class="header-wrap-clone dark-mode"></div>
</header>

<!-- Search -->
<div id="customSearch">
  <div id="bcs_js_snippet"></div>
</div>

<!-- #header end -->
