<!-- JavaScripts
  ============================================= -->
<script src="/js/jquery.js"></script>
<script src="/js/plugins.min.js"></script>
<script src="/js/custom.js"></script>
<script src="/js/darkmode.js"></script>

<!-- Footer Scripts
  ============================================= -->
<script src="/js/functions.js"></script>

<script type="text/javascript"
   src="https://ui.customsearch.ai/api/ux/rendering-js?customConfig=011a90aa-26ea-46b5-bf60-4b5b407c72c6&market=en-US&version=latest&q=">
</script>
