{{ define "main"}}
<!-- Content -->
<section id="content">
  <div class="content-wrap">
    <div class="container clearfix">
      <div class="row align-items-center col-mb-80">
        <div class="col-lg-6">
          <div class="error404 center">404</div>
        </div>

        <div class="col-lg-6">
          <div class="heading-block text-center text-lg-start border-bottom-0">
            <h4>Ooopps.! The Page you were looking for, couldn't be found.</h4>
            <span>Try browse the links below:</span>
          </div>

          <div class="row col-mb-30">
            <div class="col-6 col-sm-4 widget_links">
              <ul>
                <li><a href='{{ site.BaseURL | relLangURL }}'>Home</a></li>
                <li><a href='{{ "/developer-hub" | relLangURL }}'>Developer Hub</a></li>
                <li><a href='{{ "/learn" | relLangURL }}'>Learn</a></li>
              </ul>
            </div>

            <div class="col-6 col-sm-4 widget_links">
              <ul>
                <li><a href='{{ "/community" | relLangURL }}'>Community</a></li>
                <li><a href='{{ "/solutions" | relLangURL }}'>Solutions</a></li>
                <li><a href='{{ "/blog" | relLangURL }}'>Blog</a></li>
              </ul>
            </div>

            <div class="col-6 col-sm-4 widget_links">
              <ul>
                <li><a href='{{ "/about" | relLangURL }}'>About</a></li>
                <li><a href='{{ "/faq" | relLangURL }}'>FAQ</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- #content end -->
{{ end }}
