{{ define "main" }}
<section id="content">
  <div class="content-wrap pt-0 pb-0 dark-mode">
    <!-- slider -->
    {{- partial "content/slider.html" . -}}

    <!-- banner -->
    {{- partial "content/banner.html" . -}}

    <!-- feature -->
    {{- partial "content/features.html" . -}}

    <!-- get book -->
    {{- partial "content/get_book.html" . -}}

    <!-- join community -->
    {{- partial "content/community.html" . -}}

    <!-- news -->
    {{- partial "content/announcements.html" . -}}

    <!-- form -->
    {{- partial "content/form.html" . -}}

    <!-- events -->
    {{- partial "content/events.html" . -}}
  </div>
</section>
{{ end }}
