<!DOCTYPE HTML>
<html>
<head>
	<meta charset="utf-8">
	<title>{% if page.title %}pmem.io: {{ page.title }}{% else %}pmem.io{% endif %}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<link rel="stylesheet" href="/css/pmem.css" type="text/css">
	<link rel="stylesheet" href="/css/pygment_trac.css" type="text/css">
	<link rel="shortcut icon" href="/favicon.ico">
	<link href="http://pmem.io/feed.xml" rel="alternate" type="application/atom+xml">
</head>
<body>
<!-- _layouts/post.html -->
<div id="wrap">
	<div id="header">
		<a href="http://pmem.io/">
			<h2>pmem.io<br>Persistent Memory Programming</h2>
		</a>
	</div>
	<div id="nav">
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/glossary/">Glossary</a></li>
			<li><a href="/documents/">Documents</a></li>
			<li><a href="/nvml/">NVM&nbsp;Library</a></li>
			<li><a href="/blog/" class="sel">Blog</a></li>
			<li><a href="/about/">About</a></li>
		</ul>
	</div>
	<br>
	<h3>{{ page.title }}</h3>
	<ul>
	</ul>
	<div id="postinfo">Posted {{ page.date | date: '%B %d, %Y' }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	{% if page.previous.url %}
	<font size="-1"><a href="{{ page.previous.url }}" title="{{ page.previous.title }}">&laquo;&nbsp;Previous&nbsp;post</a></font>&nbsp;&nbsp;&nbsp;&nbsp;
	{% endif %}
	{% if page.next.url %}
	<font size="-1"><a href="{{ page.next.url }}" title="{{ page.next.title }}">Next&nbsp;post&nbsp;&raquo;</a></font>
	{% endif %}
	</div>
	<br>
	{{ content }}
	<br>
	<br>
	<div id="postinfo">Posted by <a href="https://github.com/{{ page.author }}">@{{ page.author }}</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	{% if page.previous.url %}
	<font size="-1"><a href="{{ page.previous.url }}" title="{{ page.previous.title }}">&laquo;&nbsp;Previous&nbsp;post</a></font>&nbsp;&nbsp;&nbsp;&nbsp;
	{% endif %}
	{% if page.next.url %}
	<font size="-1"><a href="{{ page.next.url }}" title="{{ page.next.title }}">Next&nbsp;post&nbsp;&raquo;</a></font>
	{% endif %}
	</div>

	{% if page.identifier %}
	<div id="disqus_thread"></div>
	<script>
	var disqus_config = function () {
		this.page.url = '{{ site.url }}{{ page.url }}';  // Replace PAGE_URL with your page's canonical URL variable
		this.page.identifier = '{{ page.identifier }}'; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
 	};

	(function() {  // DON'T EDIT BELOW THIS LINE
		var d = document, s = d.createElement('script');
		s.src = '//nvml.disqus.com/embed.js';
		s.setAttribute('data-timestamp', +new Date());
		(d.head || d.body).appendChild(s);
	})();
	</script>
	<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
	{% endif %}


	<div id="footer">
		<hr>
		{% include pagefooter.html %}
	</div>
</div>
</body>
</html>
