{{ define "main" }}

<!-- get book -->
{{- partial "content/get_book_no_btn.html" . -}}

<!-- Form -->
{{ $data := index site.Data site.Language.Lang }} {{ if $data.books.form.enable }} {{ with $data.books.form }}
<div class="section m-0 bg-transparent border-top dark-mode">
  <div class="container">
    <div class="heading-block border-bottom-0 center">
      <h3 class="nott ls0 bottommargin-sm">{{ .download_links_content.header_above | markdownify }}</h3>
      <p class="book-font-color">{{ .download_links_content.content_above | markdownify }}</p>
    </div>
    <div class="row justify-content-center">
      {{ range .book_links }}
      <div class="col-xl-3 col-md-6 text-center">
        <div class="card download-link-card">
          <div class="card-body">
            <span class="i-plain mx-auto mb-0 {{ .icon | markdownify }} book-link-icon"></span>
            <h3>{{ .content | markdownify }}</h3>
            <a href="{{ .link | absLangURL }}" class="button button-large button-circle bg-white border nott ls0 book-link-btn" target="_blank">{{ .button_content | markdownify }}</a>
          </div>
        </div>
      </div>
      {{ end }}
    </div>
    <div class="heading-block footer-block border-bottom-0 center">
      <h3 class="nott ls0 bottommargin-sm">{{ .download_links_content.header_below | markdownify }}</h3>
      <p class="book-font-color">{{ .download_links_content.content_below | safeHTML }}</p>
    </div>
  </div>
</div>
{{ end }} {{ end }}

<!-- Icons List -->
{{ $data := index site.Data site.Language.Lang }} {{ if $data.books.iconlist.enable }} {{ with $data.books.iconlist }}
<div class="section m-0 border-top dark-mode">
    <div class="container">
        <div class="heading-block border-bottom-0 center">
            <h3 class="nott ls0 bottommargin-sm">{{ .title | markdownify }}</h3>
        </div>
        <div class="row col-mb-50 mb-0">
            {{ range .icons }}
            <div class="col-sm-6">
                <div class="feature-box fbox-outline">
                    <div class="fbox-icon">
                        <a class= "books-icon"><i class="{{ .class | markdownify }}"></i></a>
                    </div>
                    <div class="fbox-content">
                        <h3>{{ .title | markdownify }}</h3>
                        <p class="book-font-color">{{ .content | markdownify }}</p>
                    </div>
                </div>
            </div>
            {{ end }}
        </div>
    </div>
</div>
{{ end }} {{ end }}

<!-- guide description -->
{{ $data := index site.Data site.Language.Lang }} {{ if $data.books.guide_description.enable }} {{ with $data.books.guide_description }}
<div class="section m-0 bg-transparent border-top dark-mode">
  <div class="container center clearfix">
    <div class="emphasis-title emphasis-md">
      <h2>{{ .title | markdownify }}</h2>
    </div>
    <p class="book-font-color">{{ .content | safeHTML }}</p>
  </div>
</div>
{{ end }} {{ end }}

<!-- table of contents -->
{{ $data := index site.Data site.Language.Lang }} {{ if $data.books.table_of_contents.enable }} {{ with $data.books.table_of_contents }}
<div class="section m-0 border-top dark-mode">
  <div class="container clearfix">
    <div class="emphasis-title emphasis-md center">
      <h2>{{ .title | markdownify }}</h2>
    </div>
    <p class="book-font-color">{{ .content | safeHTML }}</p>
  </div>
</div>
{{ end }} {{ end }}

<!-- questions section -->
{{ $data := index site.Data site.Language.Lang }} {{ if $data.books.questions.enable }} {{ with $data.books.questions }}
<div class="section m-0 bg-transparent border-top dark-mode">
  <div class="container">
    <div class="heading-block border-bottom-0 center">
      <h3 class="nott ls0 bottommargin-sm">{{ .title | markdownify }}</h3>
      <div class="book-faq-divider"></div>
    </div>
  {{ range .questions }}
  <div class="row">
    <div class="col">
      <h3 class="faq-header">{{ .title | safeHTML }}</h3>
      <p class="book-font-color"> {{ .content | safeHTML }}</p>
    </div>
  </div>
  {{ end }}
  </div>
</div>
{{ end }} {{ end }}

{{end}}